venv/

__pycache__/

.vscode/

clickhouse_data/

test/

plots/

dataset/

models/

telegram_parser_session.session
israil_parser.log
parsers.log
migration.log
ЧТО_ДОБАВИТЬ.txt

aljazeera_parser.log
cnn_parser.log
dw_parser.log
euronews_parser.log
france24_parser.log
gazeta_parser.log
kommersant_parser.log
lenta_parser.log
rbc_parser.log
reuters_parser.log
rt_parser.log
tsn_parser.log
unian_parser.log
tsn_parser.log
rt_parser.log
universal_parser.log
clickhouse_converter.log